<%= form_with(model: quiz, local: true) do |form| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :quiz_name %>
  </div>

  <div class="field">
    <%= form.label :title_da %>
    <%= form.text_field :title_da, id: :quiz_title_da %>
  </div>

  <div class="field">
    <%= form.label :title_en %>
    <%= form.text_field :title_en, id: :quiz_title_en %>
  </div>

  <div class="field">
    <%= form.label :subtitle_da %>
    <%= form.text_field :subtitle_da, id: :quiz_subtitle_da %>
  </div>

  <div class="field">
    <%= form.label :subtitle_en %>
    <%= form.text_field :subtitle_en, id: :quiz_subtitle_en %>
  </div>

  <div class="field">
    <%= form.label :result_title_da %>
    <%= form.text_field :result_title_da, id: :quiz_result_title_da %>
  </div>

  <div class="field">
    <%= form.label :result_title_en %>
    <%= form.text_field :result_title_en, id: :quiz_result_title_en %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
