<%= form_with(model: quiz, url: (quiz.new_record? ? [quiz.theme, quiz] : quiz), local: true) do |form| %>
  <%= render 'common/validation_errors', model: quiz %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, required: true, class: 'form-control', id: :quiz_name %>
    <span class="help-block">
      Required. The quiz name isn't shown publically, it's only for naming the quiz in the CMS.
    </span>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Danish (required)</h3>

      <div class="form-group">
        <%= form.label :title_da %>
        <%= form.text_field :title_da, required: true, class: 'form-control', id: :quiz_title_da %>
      </div>

      <div class="form-group">
        <%= form.label :subtitle_da %>
        <%= form.text_field :subtitle_da, required: true, class: 'form-control', id: :quiz_subtitle_da %>
      </div>

      <div class="form-group">
        <%= form.label :result_title_da %>
        <%= form.text_field :result_title_da, required: true, class: 'form-control', id: :quiz_result_title_da %>
      </div>

      <% quiz.quiz_options.each_with_index do |option, i| %>
        <% unless option.new_record? %>
          <%= hidden_field_tag "quiz[quiz_options_attributes][#{i}][id]", option.id %>
        <% end %>
      <% end %>

      <div class="row">
        <div class="col-md-6">
          <h4>Options</h4>

          <% quiz.quiz_options.each_with_index do |option, i| %>
            <div class="form-group">
              <%= text_field_tag "quiz[quiz_options_attributes][#{i}][option_da]", option.option_da, class: "form-control" %>
            </div>
          <% end %>
        </div>

        <div class="col-md-6">
          <h4>Comparisons</h4>

          <% quiz.quiz_options.each_with_index do |option, i| %>
            <div class="form-group">
              <%= text_field_tag "quiz[quiz_options_attributes][#{i}][answer_da]", option.answer_da, class: "form-control" %>
            </div>
          <% end %>
        </div>
      </div>

    </div>

    <div class="col-md-6">
      <h3>English</h3>

      <div class="form-group">
        <%= form.label :title_en %>
        <%= form.text_field :title_en, class: 'form-control', id: :quiz_title_en %>
      </div>

      <div class="form-group">
        <%= form.label :subtitle_en %>
        <%= form.text_field :subtitle_en, class: 'form-control', id: :quiz_subtitle_en %>
      </div>

      <div class="form-group">
        <%= form.label :result_title_en %>
        <%= form.text_field :result_title_en, class: 'form-control', id: :quiz_result_title_en %>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h4>Options</h4>

          <%# can't use fields_for because it messes up indexing for new records %>
          <% quiz.quiz_options.each_with_index do |option, i| %>
            <div class="form-group">
              <%= text_field_tag "quiz[quiz_options_attributes][#{i}][option_en]", option.option_en, class: "form-control" %>
            </div>
          <% end %>
        </div>

        <div class="col-md-6">
          <h4>Comparisons</h4>

          <%# can't use fields_for because it messes up indexing for new records %>
          <% quiz.quiz_options.each_with_index do |option, i| %>
            <div class="form-group">
              <%= text_field_tag "quiz[quiz_options_attributes][#{i}][answer_en]", option.answer_en, class: "form-control" %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
    <%= yield %>
  </div>
<% end %>
