<%= render 'common/content_title', model: @quiz do %>
  <%= link_to 'Edit quiz...', edit_quiz_path(@quiz) %> |
  <%= link_to 'Delete quiz...', @quiz, method: :delete, data: { confirm: 'Are you sure you want to delete this quiz?' }, class: "text-danger" %>
<% end %>

<div class="container">
  <div class="col-md-6">
    <h2>Danish</h2>

    <p>
      <strong>Title:</strong> <%= @quiz.title_da %>
    </p>

    <p>
      <strong>Subtitle:</strong> <%= @quiz.subtitle_da %>
    </p>

    <p>
      <strong>Results heading:</strong> <%= @quiz.result_title_da %>
    </p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 50%">Option</th>
          <th>Comparison</th>
        </tr>
      </thead>
      <tbody>
      <% @quiz.quiz_options.each do |option| %>
        <tr>
          <td><%= option.option_da %></td>
          <td><%= option.answer_da %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <h2>English</h2>

    <p>
      <strong>Title:</strong> <%= @quiz.title_en %>
    </p>

    <p>
      <strong>Subtitle:</strong> <%= @quiz.subtitle_en %>
    </p>

    <p>
      <strong>Results heading:</strong> <%= @quiz.result_title_en %>
    </p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 50%">Option</th>
          <th>Comparison</th>
        </tr>
      </thead>
      <tbody>
      <% @quiz.quiz_options.each do |option| %>
        <tr>
          <td><%= option.option_en %></td>
          <td><%= option.answer_en %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>
