<%= form_with(model: quiz_option, url: (quiz_option.new_record? ? [quiz_option.quiz, quiz_option] : quiz_option), local: true) do |form| %>
  <% if quiz_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz_option.errors.count, "error") %> prohibited this quiz_option from being saved:</h2>

      <ul>
      <% quiz_option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :option_da %>
    <%= form.text_field :option_da, id: :quiz_option_option_da %>
  </div>

  <div class="field">
    <%= form.label :option_en %>
    <%= form.text_field :option_en, id: :quiz_option_option_en %>
  </div>

  <div class="field">
    <%= form.label :answer_da %>
    <%= form.text_field :answer_da, id: :quiz_option_answer_da %>
  </div>

  <div class="field">
    <%= form.label :answer_en %>
    <%= form.text_field :answer_en, id: :quiz_option_answer_en %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
