<p id="notice"><%= notice %></p>

<h1>Quiz Options</h1>

<table>
  <thead>
    <tr>
      <th>Option da</th>
      <th>Option en</th>
      <th>Answer da</th>
      <th>Answer en</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quiz_options.each do |quiz_option| %>
      <tr>
        <td><%= quiz_option.option_da %></td>
        <td><%= quiz_option.option_en %></td>
        <td><%= quiz_option.answer_da %></td>
        <td><%= quiz_option.answer_en %></td>
        <td><%= link_to 'Show', quiz_option %></td>
        <td><%= link_to 'Edit', edit_quiz_option_path(quiz_option) %></td>
        <td><%= link_to 'Destroy', quiz_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quiz Option', new_quiz_quiz_option_path(@quiz) %>
