<p id="notice"><%= notice %></p>

<p>
  <strong>Option da:</strong>
  <%= @quiz_option.option_da %>
</p>

<p>
  <strong>Option en:</strong>
  <%= @quiz_option.option_en %>
</p>

<p>
  <strong>Answer da:</strong>
  <%= @quiz_option.answer_da %>
</p>

<p>
  <strong>Answer en:</strong>
  <%= @quiz_option.answer_en %>
</p>

<%= link_to 'Edit', edit_quiz_option_path(@quiz_option) %> |
<%= link_to 'Back', @quiz_option.quiz %>
