<%= form_with(model: track, url: (track.new_record? ? [track.playlist, track] : track), local: true) do |form| %>
  <% if track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :track_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :track_description %>
  </div>

  <div class="field">
    <%= form.label :mp3 %>
    <%= form.file_field :mp3, id: :track_mp3, accept: "audio/mp3,audio/mpeg" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
