<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @track.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @track.description %>
</p>

<p>
  <strong>Track:</strong>
  <audio src="<%= @track.mp3.url %>" controls />
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', @track.playlist %>
