<%= form_with(model: interval, url: (interval.new_record? ? [interval.timeline, interval] : interval), local: true) do |form| %>
  <%= render 'common/validation_errors', model: interval %>

  <div class="row">
    <div class="col-md-6">
      <h3>Danish (required)</h3>

      <div class="form-group">
        <%= form.label :title_da %>
        <%= form.text_field :title_da, class: 'form-control', required: true, id: :interval_title_da %>
      </div>

      <div class="form-group">
        <%= form.label :subtitle_da %>
        <%= form.text_field :subtitle_da, class: 'form-control', required: true, id: :interval_subtitle_da %>
      </div>

      <div class="form-group">
        <%= form.label :description_da %>
        <%= form.text_area :description_da, class: 'form-control', required: true, id: :interval_description_da %>
      </div>
    </div>

    <div class="col-md-6">
      <h3>English</h3>

      <div class="form-group">
        <%= form.label :title_en %>
        <%= form.text_field :title_en, class: 'form-control', id: :interval_title_en %>
      </div>

      <div class="form-group">
        <%= form.label :subtitle_en %>
        <%= form.text_field :subtitle_en, class: 'form-control', id: :interval_subtitle_en %>
      </div>

      <div class="form-group">
        <%= form.label :description_en %>
        <%= form.text_area :description_en, class: 'form-control', id: :interval_description_en %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
    <%= yield %>
  </div>
<% end %>
