<p id="notice"><%= notice %></p>

<h1>Intervals</h1>

<table>
  <thead>
    <tr>
      <th>Timeline</th>
      <th>Title da</th>
      <th>Title en</th>
      <th>Subtitle da</th>
      <th>Subtitle en</th>
      <th>Description da</th>
      <th>Description en</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @intervals.each do |interval| %>
      <tr>
        <td><%= interval.timeline %></td>
        <td><%= interval.title_da %></td>
        <td><%= interval.title_en %></td>
        <td><%= interval.subtitle_da %></td>
        <td><%= interval.subtitle_en %></td>
        <td><%= interval.description_da %></td>
        <td><%= interval.description_en %></td>
        <td><%= link_to 'Show', interval %></td>
        <td><%= link_to 'Edit', edit_interval_path(interval) %></td>
        <td><%= link_to 'Destroy', interval, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add interval...', new_timeline_interval_path(@timeline) %>
