<%= render 'common/assigned_devices', model: @interval %>

<div style="border-left: 20px solid <%= @interval.theme.try(:color) || '#fff' %>; padding-left: 0.5em">
  <h1>
    Interval
    <small>
      Timeline: <%= link_to @interval.timeline.name, @interval.timeline %>
    </small>
  </h1>

  <p>
    <%= link_to 'Edit interval...', edit_interval_path(@interval) %>
    |
    <%= link_to 'Delete interval...', @interval, method: :delete, data: { confirm: 'Are you sure you want to delete this interval?' }, class: "text-danger" %>
  </p>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Danish</h3>

    <p>
      <strong>Title:</strong>
      <%= @interval.title_da %>
    </p>

    <p>
      <strong>Subtitle:</strong>
      <%= @interval.subtitle_da %>
    </p>

    <p>
      <strong>Description:</strong>
    </p>
    <%= simple_format @interval.description_da %>
  </div>

  <div class="col-md-6">
    <h3>English</h3>

    <p>
      <strong>Title:</strong>
      <% if @interval.title_en.present? %>
        <%= @interval.title_en %>
      <% else %>
        <em class="text-muted">Missing</em>
      <% end %>
    </p>

    <p>
      <strong>Subtitle:</strong>
      <% if @interval.subtitle_en.present? %>
        <%= @interval.subtitle_en %>
      <% else %>
        <em class="text-muted">Missing</em>
      <% end %>
    </p>

    <p><strong>Description:</strong></p>
    <% if @interval.description_en.present? %>
      <%= simple_format @interval.description_en %>
    <% else %>
      <p><em class="text-muted">Missing</em></p>
    <% end %>
  </div>
</div>

<h2>Images</h2>

<% if @interval.interval_images.any? %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width:2%"></th>
        <th>Description</th>
        <th>Languages</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
    <% @interval.interval_images.each do |image| %>
      <tr>
        <td>
          <%= link_to image do %>
          <%= image_tag image.file.url(:thumbnail) %>
          <% end %>
        </td>
        <td>
          <%= link_to image.description_da, image %>
        </td>
        <td>
          <%= image.bilingual? ? "Danish/English" : "Danish" %>
        </td>
        <td>
          <%= link_to "Edit", edit_interval_image_path(image) %>
        </td>
        <td>
          <%= link_to 'Delete...', image, method: :delete, data: { confirm: 'Are you sure you want to delete this image?' }, class: "text-danger" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% else %>

  <p><em class="text-muted">No images</em></p>

<% end %>

<% if @interval.interval_images.count < Interval::MAX_INTERVAL_IMAGE_COUNT %>
<p>
  <%= link_to 'Add image...', new_interval_interval_image_path(@interval) %>
</p>
<% end %>
