<%= form_with(model: video, url: (video.new_record? ? [video.video_gallery, video] : video), local: true) do |form| %>
  <%= render 'common/validation_errors', model: video %>

  <div class="form-group">
    <%= form.label :youtube_id %>
    <%= form.text_field :youtube_id, required: true, class: 'form-control', id: :video_youtube_id %>
    <span class="help-block">
      The YouTube ID is the the string of characters in a video's URL after the "v=", e.g. <code>youtube.com/watch?v=<u>xyz123abc</u>&amp;...</code>
      <br>
      The video must be embeddable to work.
    </span>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Danish (required)</h3>

      <div class="form-group">
        <%= form.label :title_da %>
        <%= form.text_field :title_da, required: true, class: 'form-control', id: :video_title_da %>
      </div>

      <div class="form-group">
        <%= form.label :description_da %>
        <%= form.text_area :description_da, required: true, class: 'form-control', id: :video_description_da %>
      </div>

      <div class="form-group">
        <%= form.label :source_da %>
        <%= form.text_field :source_da, required: true, class: 'form-control', id: :video_source_da %>
      </div>

    </div>

    <div class="col-md-6">
      <h3>English</h3>

      <div class="form-group">
        <%= form.label :title_en %>
        <%= form.text_field :title_en, class: 'form-control', id: :video_title_en %>
      </div>

      <div class="form-group">
        <%= form.label :description_en %>
        <%= form.text_area :description_en, class: 'form-control', id: :video_description_en %>
      </div>

      <div class="form-group">
        <%= form.label :source_en %>
        <%= form.text_field :source_en, class: 'form-control', id: :video_source_en %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
    <%= yield %>
  </div>
<% end %>
