<%= form_with(model: video, url: (video.new_record? ? [video.video_gallery, video] : video), local: true) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title_da %>
    <%= form.text_field :title_da, id: :video_title_da %>
  </div>

  <div class="field">
    <%= form.label :title_en %>
    <%= form.text_field :title_en, id: :video_title_en %>
  </div>

  <div class="field">
    <%= form.label :description_da %>
    <%= form.text_area :description_da, id: :video_description_da %>
  </div>

  <div class="field">
    <%= form.label :description_en %>
    <%= form.text_area :description_en, id: :video_description_en %>
  </div>

  <div class="field">
    <%= form.label :source_da %>
    <%= form.text_field :source_da, id: :video_source_da %>
  </div>

  <div class="field">
    <%= form.label :source_en %>
    <%= form.text_field :source_en, id: :video_source_en %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
