<p id="notice"><%= notice %></p>

<h1>Videos</h1>

<table>
  <thead>
    <tr>
      <th>Video gallery</th>
      <th>Title da</th>
      <th>Title en</th>
      <th>Description da</th>
      <th>Description en</th>
      <th>Source da</th>
      <th>Source en</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.video_gallery %></td>
        <td><%= video.title_da %></td>
        <td><%= video.title_en %></td>
        <td><%= video.description_da %></td>
        <td><%= video.description_en %></td>
        <td><%= video.subtitle_da %></td>
        <td><%= video.subtitle_en %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add video...', new_video_gallery_video_path(@video_gallery) %>
