<%= render 'common/assigned_devices', model: @video %>

<div style="border-left: 20px solid <%= @video.theme.try(:color) || '#fff' %>; padding-left: 0.5em">
  <h1>
    Video
    <small>
      Gallery: <%= link_to @video.video_gallery.name, @video.video_gallery %>
    </small>
  </h1>

  <p>
    <%= link_to 'Edit video...', edit_video_path(@video) %>
    |
    <%= link_to 'Delete video...', @video, method: :delete, data: { confirm: 'Are you sure you want to delete this video?' }, class: "text-danger" %>
  </p>
</div>

<p class="text-center">
  <% if @video.youtube_id.present? %>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video.youtube_id %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  <div>
    <strong>YouTube ID:</strong>
    <a href="https://www.youtube.com/watch?v=<%= @video.youtube_id %>">
      <samp><%= @video.youtube_id %></samp>
    </a>
  </div>

  <% else %>
  <video src="<%= @video.mp4.url %>" controls height="315"></video>
  <% end %>
</p>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Danish</h3>

    <p>
      <strong>Title:</strong> <%= @video.title_da %>
    </p>

    <p>
      <strong>Subtitle:</strong> <%= @video.subtitle_da %>
    </p>

    <p><strong>Description:</strong></p>
    <%= simple_format @video.description_da %>
    </p>
  </div>

  <div class="col-md-6">
    <h3>English</h3>

    <p>
      <strong>Title:</strong>
      <% if @video.title_en.present? %>
        <%= @video.title_en %>
      <% else %>
        <em class="text-muted">Missing</em>
      <% end %>
    </p>

    <p>
      <strong>Subtitle:</strong>
      <% if @video.subtitle_en.present? %>
        <%= @video.subtitle_en %>
      <% else %>
        <em class="text-muted">Missing</em>
      <% end %>
    </p>

    <p><strong>Description:</strong></p>
    <% if @video.description_en.present? %>
      <%= simple_format @video.description_en %>
    <% else %>
      <p><em class="text-muted">Missing</em></p>
    <% end %>
    </p>
  </div>
</div>
