<%= form_with(model: interval_image, url: (interval_image.new_record? ? [interval_image.interval, interval_image] : interval_image), local: true) do |form| %>
  <%= render 'common/validation_errors', model: interval_image %>

  <div class="form-group">
    <%= form.label :file %>
    <%= form.file_field :file, id: :interval_image_file, accept: "image/jpeg,image/pjpeg,image/png" %>
    <span class="help-block">
      File must be a JPEG or PNG.
      <% if interval_image.new_record? %>
        Required.
      <% else %>
        Select a file to replace the current image or leave blank.
      <% end %>
    </span>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Danish (required)</h3>

      <div class="form-group">
        <%= form.label :description_da %>
        <%= form.text_area :description_da, required: true, class: 'form-control', id: :interval_image_description_da %>
      </div>

      <div class="form-group">
        <%= form.label :source_da %>
        <%= form.text_field :source_da, required: true, class: 'form-control', id: :interval_image_source_da %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :description_en %>
        <%= form.text_area :description_en, class: 'form-control', id: :interval_image_description_en %>
      </div>

      <div class="form-group">
        <%= form.label :source_en %>
        <%= form.text_field :source_en, class: 'form-control', id: :interval_image_source_en %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
