<p id="notice"><%= notice %></p>

<p>
  <strong>Title da:</strong>
  <%= @timeline.title_da %>
</p>

<p>
  <strong>Title en:</strong>
  <%= @timeline.title_en %>
</p>

<%= link_to 'Edit', edit_timeline_path(@timeline) %> |
<%= link_to 'Back', theme_timelines_path(@timeline.theme) %>
