<%= form_with(model: video_gallery, local: true) do |form| %>
  <% if video_gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video_gallery.errors.count, "error") %> prohibited this video_gallery from being saved:</h2>

      <ul>
      <% video_gallery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :video_gallery_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
