<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @playlist.description %>
</p>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', theme_playlists_path(@playlist.theme) %>

<h2>Tracks</h2>

<% if @playlist.tracks.any? %>
  <%= render @playlist.tracks %>
<% else %>
  <em class="muted">No tracks</em>
<% end %>

<%= link_to 'New Track', new_playlist_track_path(@playlist) %>
