<%= form_with(model: image, url: (image.new_record? ? [image.gallery, image] : image), local: true) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file, id: :image_file, accept: "image/jpeg,image/pjpeg,image/png" %>
  </div>

  <div class="field">
    <%= form.label :title_da %>
    <%= form.text_field :title_da, id: :image_title_da %>
  </div>

  <div class="field">
    <%= form.label :title_en %>
    <%= form.text_field :title_en, id: :image_title_en %>
  </div>

  <div class="field">
    <%= form.label :description_da %>
    <%= form.text_area :description_da, id: :image_description_da %>
  </div>

  <div class="field">
    <%= form.label :description_en %>
    <%= form.text_area :description_en, id: :image_description_en %>
  </div>

  <div class="field">
    <%= form.label :source_da %>
    <%= form.text_field :source_da, id: :image_source_da %>
  </div>

  <div class="field">
    <%= form.label :source_en %>
    <%= form.text_field :source_en, id: :image_source_en %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
