<!DOCTYPE html>
<html>
  <head>
    <title>Klogskabet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            Klogskabet
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to "Themes", themes_path %></li>
          <li><%= link_to "Devices", devices_path %></li>
        </ul>
      </div>
    </nav>

    <div class="container">

      <% if notice %>
        <div class="alert alert-info">
          <strong>Notice</strong>
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger">
          <strong>Alert</strong>
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>

      <hr>

      <p class="text-center text-muted">
        <small>
          ©2018 YOKE ApS.<br>
          Contents copyright of their respective copyright owners.
        </small>
      </p>

    </div>
  </body>
</html>
